<div class="container mt-3">
    <input
      type="text"
      class="form-control mb-3"
      placeholder="Search by name..."
      (input)="onSearch($event)"
    />
  
    <div class="row">
      <div
        class="col-md-4 mb-3"
        *ngFor="let user of filteredUsers"
      >
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">{{ user.name }}</h5>
            <p class="card-text">{{ user.email }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  